* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#main {
  width: 100%;
  height: 100vh;
  background: #d7d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47%;
  width: 80%;
  overflow-y: auto;
  flex-direction: column;
}

/* Your other CSS rules go here */
#cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1vw 2vw;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: center;
}

#card {
  height: 100%;
  background: rgb(226, 231, 226);
  width: 20%;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid black;
  display: flex;
  padding: 0.3vw 0.4vw;
  flex-direction: column;
  justify-content: center;
  gap: 0.8vw;
  align-items: center;
}

#btn {
  padding: 3px 8px;
  border: 2px solid black;
  border-radius: 5px;
}

#card img {
  width: 32%;
  height: 33%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
}

#card h3 {
  font-size: 1.2vw;
  font-weight: 500;
  color: black;
  text-align: center;
}
#card p {
  font-size: 1.2vw;
  font-weight: 500;
  color: black;
  text-align: center;
}

form {
  display: flex;
  gap: 2vw;
  margin-top: 4vw;
}

input {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
}
